<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Поиск водителя</title>
</head>
<body>
<table border="1">
    <tr>
        <td>Пункт А</td>
        <td>Пункт Б</td>
        <td>Машина</td>
        <td>Количество свободных мест</td>
        <td>Количество детей</td>
        <td>Животныe</td>
        <td>Предпочтения в музыке</td>
        <td>Контактный телефон</td>
    </tr>
{% for row in driver %}
    <tr>
        <td>{{row.point_A}}</td>
        <td>{{row.point_B}}</td>
        <td>{{row.car}}</td>
        <td>{{row.free_place}}</td>
        <td>{{row.children}}</td>
        <td>{{row.pets}}</td>
        <td>{{row.music}}</td>
        <td>{{row.phone}}</td>
    </tr>
{% endfor %}
</table>
</body>
</html>